{{#if errors}}
  <div class='alert'>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> Following errors prevent this tournament for being created:
    <ul>
      {{#each error in errorsList}}
        <li>
          {{error}}
        </li>
      {{/each}}
    </ul>
  </div>
 {{/if}}

<form class='tournament' {{action save on='submit'}}>
  <div class='span3 poster-container'>
  </div>

  <fieldset class='span5'>
    {{input type='text' value=name placeholder='Tournament name'}}
    {{view Graude.DatePickerView}}
    {{input type='number' value=players_limit placeholder='Max. players'}}

    {{textarea value=description placeholder='Description'}}
  </fieldset>

  <div class='span4 geolocation'>
    {{view Graude.GeolocationView}}
  </div>

  <a href='#' {{action cancel}} class='btn'>Cancel</a>
  {{input type='submit' value='Create' class='btn btn-primary'}}
</form>
