<div class='header'>
  <span><strong>Army List</strong></span>
  <span class='last-update pull-rigth'>Last updated: {{formatDate updated_at 'HH:mm:ss DD/MM/YYYY'}}</span>
</div>

<form {{action update_list on='submit'}}>
  <fieldset>
    {{textarea value=list placeholder='Army list' class='list'}}
    {{input class='btn btn-primary pull-right' type='submit' value='Update'}}
  </fieldset>
</form>

{{render 'comments' comments}}
