<div class='box'>
  <div class='box-header'>
    <h3 class='box-title'>Participating tournaments ({{length}})</h3>
  </div>

  <div class='box-body'>
    <ul class='tournament-list'>
      {{#each}}
        {{#link-to 'participations' this tagName='li' class='tournament-list-item'}}
          <span><i class='icon-trophy'></i></span>
          <a href='#'>
            <span>{{name}}</span>
          </a>

          <span {{bind-attr class=':label currentStatusLabelClass'}}>{{currentParticipationStatus}}</span>
        {{/link-to}}
      {{else}}
        <li>
          <span><i>You have not participated in any tournament</i></span>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
